<%- if user_signed_in? %>
	<% if current_user.shows.include?(show) %>
		<td><%= render "shows/cancel", {:show => show}%></td>
	<% else %>
		<%- if (show.start_time < Time.now) %>
			<td>You cannot book</td>
		<% else %>
			<td><%= render 'bookings/form', {:@show => show} %></td>
		<% end %>
	<% end %>
<% else%>
	<td>Sign in Book</td>
<% end %>